*.bak
*.bak2
*.bak_*
obj_dir*/
sim_pipeline_*
sim_core
sim_alu
sim_decoder
sim_muldiv*
sim_regfile
sim_imm_gen
sim_hpm_selfcheck
out_pipeline*/
*.vcd
*.fst
*.saif
*.log
*.o
*.a
sw/coremark/
sw/embench-iot/
*.bak
*.bak_*
*.patched
